

.media-toolbar {
	margin: 0!important;
	height: 92px !important;
	padding: 0 23px !important;
	border: 0 solid !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
}

.wp-filter .view-switch {
	padding: 24px 0;
	margin: 0 23px 0 0;
}

.media-toolbar select {
	height: auto;
	padding: 7px;
	margin: 0 14px 0 0;
}

.media-frame.mode-grid .media-button {
	margin: 24px 0 !important;
}

.media-frame a.button, .media-frame a.button:hover {
	color: #fff;
}

.media-toolbar-primary.search-form {
	height: auto;
	margin: 24px 0;
}

.media-modal-content .media-toolbar-primary.search-form {
	margin: 0;
}

.wp-filter .search-form input[type=search] {
	margin: 0;
	padding: 6px;
	width: 280px;
	font-size: 15px;
	font-weight: 300;
	line-height: 23px;
}

.media-frame.mode-grid .attachments-browser .attachments {
	padding: 23px 0 23px 23px;
	background: #fff;
	border-top: 2px solid red;
	margin-top: -7px;
}

.attachments .attachment {
	padding: 23px 23px 0 0;
}

.media-modal-content .attachments .attachment {
	padding: 5px;
}

.attachment .thumbnail:after {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.attachment-preview {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	background-color: #f7f7f7;
}

.attachment-preview .thumbnail:hover {
	border: 2px solid #f95e44;
}

.attachment-preview .thumbnail {
	border: 2px solid transparent;
}

.media-frame.mode-grid .attachment.details:focus,
.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.media-frame.mode-grid .attachment.details:focus .attachment-preview,
.media-frame.mode-grid .attachment:focus .attachment-preview,
.media-frame.mode-grid .selected.attachment:focus .attachment-preview {
	border: 2px solid #f95e44;
}


.drag-drop.drag-over #drag-drop-area {
	border-color: #f95e44;
}

.media-item .bar {
	background-color: #f95e44;
}

.upload-flash-bypass {
	margin: 23px 0;
}



.post-com-count:hover:after {
	border-top: 5px solid #f95e44;
	background-color: transparent !important;
}

.row-actions span.unapprove {
	margin-left: 5px;
}

#the-comment-list td, #the-comment-list th {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.no-items td {
	padding-left: 23px;
}


.theme-browser .theme {
	border:0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.theme-browser .theme .theme-name {
	font-size: 17px;
	font-weight: 300;
	height: auto;
	margin: 0;
	padding: 17px 23px 17px 23px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	font-family: Oswald, Helvetica, Arial, sans-serif; /*@*/
	background-color: #ffffff;
}

.theme-browser .theme .theme-actions {
	padding: 0 9px;
	background-color: transparent;
	border:0;
	bottom: 5px;
}

.theme-browser .theme .theme-actions .button-secondary,
.theme-browser .theme .theme-actions .button-primary {
	padding: 3px 12px;
}

.theme-browser.rendered .theme:focus .theme-screenshot img, .theme-browser.rendered .theme:hover .theme-screenshot img {
	opacity: .2;
}

.theme-browser .theme .more-details {
	border-radius: 0;
	font-weight: 300;
	font-family: Oswald, Helvetica, Arial, sans-serif; /*@*/
	background-color: #f95e44;
	text-shadow: none;
}

.theme-browser .theme:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	border: 2px solid #f95e44;
}

.theme-browser .theme.add-new-theme:focus:after, .theme-browser .theme.add-new-theme:hover:after {
	border-color: transparent;
	color: #fff;
	background: #f95e44;
}

.theme-browser .theme.add-new-theme:after {
	border:0;
}

.theme-browser .theme.add-new-theme:focus span:after, .theme-browser .theme.add-new-theme:hover span:after {
	color: #f95e44;
}

.theme-browser .theme.add-new-theme span:after {
	color: #f95e44;
}

.themes-php .wrap h2 {
	margin-bottom: 23px;
}

.theme-browser .theme.add-new-theme {
	background-color: #ffffff;
}



#customize-header-actions .button-primary {
	margin-top: 3px;
}

.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
	color: #ffffff !important;
	background-color: #f95e44 !important;
	opacity: 0.6 !important;
	text-shadow: none !important;
	border: 0 !important;
}

.customize-controls-close:before {
	top: 11px;
	left: 10px;
}



div#widgets-left {
	padding-top: 0;
}

.widgets-holder-wrap .description {
	padding-bottom: 23px;
}

.widget-title h4 {
	padding: 16px 15px 15px 15px;
	background: #f7f7f7;
}

#available-widgets .widget-top:hover, #widgets-left .widget-in-question .widget-top, #widgets-left .widget-top:hover, .widgets-chooser ul, div#widgets-right .widget-top:hover {
	border-color: #f95e44;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

#menu-management .menu-edit, #menu-settings-column .accordion-container, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, p.popular-tags {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.widget-inside {
	border-color: #f95e44;
}

.widgets-chooser li.widgets-chooser-selected {
	background-color: #f95e44;
}

.widgets-chooser-actions .button-primary {
	height: 37px;
}

#available-widgets .widget .widget-description {
	padding: 6px 12px 17px 12px;
}

.widget.open .widget-top {
	border: 1px solid #f95e44;
	border-bottom:0;
}

.widgets-holder-wrap .widget-inside {
	padding: 12px;
}

div#widgets-right .widgets-holder-wrap.widget-hover {
	border: 1px solid #f95e44;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, .wp-core-ui .button-link:focus, .wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none;
}